<?xml version="1.0" standalone="yes"?>
<AppSettings>
  <Configuracion>
    <Key>ConexionOracle</Key>
    <Value>edwtvXdd+NL+2gUedkwPGg==</Value>
  </Configuracion>
  <Configuracion>
    <Key>UsuarioOracle</Key>
    <Value>U4mtJWinF411yjxhj55IhA==</Value>
  </Configuracion>
  <Configuracion>
    <Key>ContrasenaOracle</Key>
    <Value>dZKiE4wkZU7wiFcdOYR09w==</Value>
  </Configuracion>
  <Configuracion>
    <Key>CodigoPrograma</Key>
    <Value>1</Value>
  </Configuracion>
</AppSettings>